In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [45]:
df = pd.read_csv("../datasets/auto-mpg.csv")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [46]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [47]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [48]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320

In [49]:
df['origin'] = df['origin'].replace({1:'america', 2:'europe', 3:'asia'})

In [50]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,america,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,america,buick skylark 320

In [51]:
df = df.drop('car name',axis = 1)

In [52]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,america
1,15.0,8,350.0,165,3693,11.5,70,america
2,18.0,8,318.0,150,3436,11.0,70,america
3,16.0,8,304.0,150,3433,12.0,70,america
4,17.0,8,302.0,140,3449,10.5,70,america

In [53]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin           object
dtype: object

In [55]:
hpisDigit = pd.DataFrame(df.horsepower.str.isdigit())

In [57]:
df[hpisDigit['horsepower'] == False]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
32,25.0,4,98.0,?,2046,19.0,71,america
126,21.0,6,200.0,?,2875,17.0,74,america
330,40.9,4,85.0,?,1835,17.3,80,europe
336,23.6,4,140.0,?,2905,14.3,80,america
354,34.5,4,100.0,?,2320,15.8,81,europe
374,23.0,4,151.0,?,3035,20.5,82,america

In [64]:
df = df.replace('?', np.nan)
df[hpisDigit['horsepower'] == False]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
32,25.0,4,98.0,NaN,2046,19.0,71,america
126,21.0,6,200.0,NaN,2875,17.0,74,america
330,40.9,4,85.0,NaN,1835,17.3,80,europe
336,23.6,4,140.0,NaN,2905,14.3,80,america
354,34.5,4,100.0,NaN,2320,15.8,81,europe
374,23.0,4,151.0,NaN,3035,20.5,82,america

In [67]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
dtype: int64

In [73]:
medianCheack = df.drop('origin', axis = 1)
medianCheack

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year
0,18.0,8,307.0,130,3504,12.0,70
1,15.0,8,350.0,165,3693,11.5,70
2,18.0,8,318.0,150,3436,11.0,70
3,16.0,8,304.0,150,3433,12.0,70
4,17.0,8,302.0,140,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82
394,44.0,4,97.0,52,2130,24.6,82
395,32.0,4,135.0,84,2295,11.6,82
396,28.0,4,120.0,79,2625,18.6,82
397,31.0,4,119.0,82,2720,19.4,82

In [74]:
medianCheack.median()

mpg               23.0
cylinders          4.0
displacement     148.5
horsepower        93.5
weight          2803.5
acceleration      15.5
model year        76.0
dtype: object

# to replace NaN value with -> median

In [75]:
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].median())

In [76]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
dtype: int64

In [80]:
df[hpisDigit['horsepower'] == False]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
32,25.0,4,98.0,93.5,2046,19.0,71,america
126,21.0,6,200.0,93.5,2875,17.0,74,america
330,40.9,4,85.0,93.5,1835,17.3,80,europe
336,23.6,4,140.0,93.5,2905,14.3,80,america
354,34.5,4,100.0,93.5,2320,15.8,81,europe
374,23.0,4,151.0,93.5,3035,20.5,82,america

# above values are replaced with median value

In [79]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin           object
dtype: object

# we have to conver Horsepower -> object to --> float

In [81]:
df['horsepower'] = df['horsepower'].astype('float64')

In [83]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin           object
dtype: object

# to create dummies variables

In [84]:
df = pd.get_dummies(df,['origin'])

In [85]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin_america,origin_asia,origin_europe
0,18.0,8,307.0,130.0,3504,12.0,70,True,False,False
1,15.0,8,350.0,165.0,3693,11.5,70,True,False,False
2,18.0,8,318.0,150.0,3436,11.0,70,True,False,False
3,16.0,8,304.0,150.0,3433,12.0,70,True,False,False
4,17.0,8,302.0,140.0,3449,10.5,70,True,False,False
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,True,False,False
394,44.0,4,97.0,52.0,2130,24.6,82,False,False,True
395,32.0,4,135.0,84.0,2295,11.6,82,True,False,False
396,28.0,4,120.0,79.0,2625,18.6,82,True,False,False
397,31.0,4,119.0,82.0,2720,19.4,82,True,False,False

In [86]:
df.dtypes

mpg               float64
cylinders           int64
displacement      float64
horsepower        float64
weight              int64
acceleration      float64
model year          int64
origin_america       bool
origin_asia          bool
origin_europe        bool
dtype: object

In [88]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin_america,origin_asia,origin_europe
0,18.0,8,307.0,130.0,3504,12.0,70,True,False,False
1,15.0,8,350.0,165.0,3693,11.5,70,True,False,False
2,18.0,8,318.0,150.0,3436,11.0,70,True,False,False
3,16.0,8,304.0,150.0,3433,12.0,70,True,False,False
4,17.0,8,302.0,140.0,3449,10.5,70,True,False,False
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,True,False,False
394,44.0,4,97.0,52.0,2130,24.6,82,False,False,True
395,32.0,4,135.0,84.0,2295,11.6,82,True,False,False
396,28.0,4,120.0,79.0,2625,18.6,82,True,False,False
397,31.0,4,119.0,82.0,2720,19.4,82,True,False,False

In [89]:
x = df.drop('mpg', axis = 1)
y = df['mpg']

In [92]:
x.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin_america,origin_asia,origin_europe
0,8,307.0,130.0,3504,12.0,70,True,False,False
1,8,350.0,165.0,3693,11.5,70,True,False,False
2,8,318.0,150.0,3436,11.0,70,True,False,False
3,8,304.0,150.0,3433,12.0,70,True,False,False
4,8,302.0,140.0,3449,10.5,70,True,False,False

In [93]:
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [94]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=0)

In [95]:
y_test

65     14.0
132    25.0
74     13.0
78     21.0
37     18.0
       ...
286    17.6
263    17.7
146    28.0
259    20.8
63     14.0
Name: mpg, Length: 100, dtype: float64

In [96]:
model = LinearRegression()
model

LinearRegression()

In [97]:
model.fit(x_train, y_train)

LinearRegression()

In [102]:
model.score(x_train,y_train)*100

82.20975257022599

In [101]:
model.score(x_test, y_test)*100

82.09521517724224

In [103]:
model.coef_

array([-0.3238232 ,  0.02488104, -0.02168627, -0.00671939,  0.20518937,
        0.75768197, -1.96630356,  1.30485497,  0.66144859])

In [104]:
model.intercept_

-17.391065915907518

In [108]:
model.predict(x)

array([14.82656052, 13.76486545, 14.91825598, 14.795269  , 14.54707526,
       10.35286884, 10.20525534, 10.14497204,  9.84981739, 12.54743716,
       15.04324559, 13.47075275, 14.46691386, 18.84708667, 23.5470326 ,
       18.74806974, 19.12602251, 20.77026026, 24.82423867, 28.30501328,
       21.49962834, 22.37045177, 23.17251212, 23.12662467, 20.02187543,
        7.24705397,  8.06477765,  7.77350594,  6.46799678, 25.58192064,
       22.64206472, 25.06711801, 23.70414997, 21.06746174, 15.88872395,
       17.35831467, 17.79997357, 17.18595115, 11.15793452, 10.36908345,
       12.12040157, 11.6515163 ,  6.53845172,  8.68524023,  5.92936743,
       19.39613932, 22.78298759, 17.57153152, 18.69004551, 22.26882041,
       25.31232253, 26.2832414 , 25.41158081, 28.75597389, 29.5640236 ,
       28.4580228 , 24.95885903, 25.79661431, 23.79422577, 27.44702887,
       23.25291137, 23.49915945, 11.47885585, 11.76019227, 12.24973658,
       12.94347372, 14.60210296,  9.89449624, 10.47148066, 10.67214146,
       11.2888753 , 24.24739306, 13.32902553, 12.76098285, 11.51309237,
       12.74205614, 20.37719685, 24.71164989, 21.61132729, 26.40507286,
       22.26098709, 25.70416662, 24.19019771, 23.14095055, 26.95156319,
       13.39403913, 15.35978493, 14.79719944, 13.72133651, 15.20777242,
        8.82814875, 12.52919884, 12.02038601, 12.52722968, 10.0886875 ,
        8.79365115, 15.10718185, 19.74604473, 19.72934116, 21.1086621 ,
       21.40867675, 20.64663332, 29.90792351,  9.3581403 ,  9.29315454,
       10.0287363 , 10.50197467, 21.95169828, 27.01944697, 24.44798198,
       25.97810789, 26.5410742 , 24.1244773 , 21.80891311, 25.73345781,
       14.16557636, 11.53113114, 29.37124027, 27.22558578, 23.67203603,
       21.77682884, 17.43991949, 22.91005138, 22.42606677, 15.80488505,
       20.17646986, 21.88665859, 22.16199743, 19.89210888, 29.99536274,
       23.63277724, 31.01607669, 23.68019708, 16.90197831, 18.09054307,
       17.19778459, 13.64614493, 10.97674461, 11.60145548, 10.71698459,
       13.00737859, 27.1572252 , 28.54644142, 26.28612581, 31.755578  ,
       29.8688766 , 24.72515924, 27.67233047, 27.08417697, 25.92238605,
       26.47165402, 28.40041851, 20.41480327, 19.50968459, 21.43270205,
       22.96603209, 12.1374862 , 13.48058643, 12.28883164, 11.87970535,
       16.94417162, 17.07956322, 18.39491375, 17.52956684, 21.54546984,
       20.13842176, 20.76324862, 28.92685892, 23.61260761, 22.83232728,
       24.34463457, 25.31107373, 27.94921653, 26.68927963, 20.60150106,
       29.3796762 , 21.25871918, 24.57815311, 23.49754018, 22.87321781,
       24.14047594, 32.08894705, 26.98001864, 29.23917673, 24.1944149 ,
       26.13591111, 28.61523471, 14.53372742, 14.80830307, 16.82724904,
       15.37698207, 21.1492415 , 20.67183833, 22.87565749, 22.98615849,
       28.79960589, 28.0622484 , 30.17839605, 32.82611009, 18.81247014,
       21.10611237, 18.9501657 , 22.8399774 , 30.67307049, 30.91579957,
       29.87412696, 24.40842989, 22.63683542, 16.52918958, 23.15747959,
       24.58661369, 18.24751064, 13.49255279, 16.41485655, 17.40451687,
       17.93642907, 31.97852494, 27.27225058, 32.57802727, 26.36828203,
       31.93481642, 17.33138052, 17.09499316, 16.15401869, 15.28593722,
       20.58880987, 20.96543865, 19.7112594 , 21.34894051, 16.36420044,
       15.76813473, 15.66750962, 15.74221744, 30.97815375, 24.4093834 ,
       30.2620164 , 23.97217691, 28.46769734, 27.64699814, 31.94759616,
       29.21622937, 25.90157525, 26.09771569, 25.38212791, 33.34620943,
       30.31339615, 33.17340058, 32.22191495, 33.95088379, 21.80449153,
       19.63889211, 20.28910611, 21.45592278, 23.24965385, 24.25074702,
       24.90464822, 21.71022559, 23.57952236, 21.79978507, 23.72988103,
       20.52446198, 21.80106465, 21.29001956, 19.56939369, 22.41338212,
       17.42329568, 28.31553623, 28.7035925 , 30.13664165, 27.42356627,
       29.12907888, 25.03283955, 24.78769681, 29.4721431 , 26.02281505,
       23.46313926, 26.03173355, 21.92682919, 31.43469733, 31.7416016 ,
       23.16564685, 25.33289862, 24.90989292, 24.17282701, 22.59828884,
       20.03586348, 20.34525826, 19.7827541 , 20.2770417 , 17.0166736 ,
       19.25649726, 20.69579734, 19.80620124, 32.44446951, 33.05360792,
       29.99473996, 25.6169746 , 24.79637325, 21.27115664, 27.45429466,
       24.00110102, 28.22451525, 28.90930691, 33.54711162, 31.30376081,
       26.35173242, 25.24887663, 24.8716432 , 26.54321315, 31.98973464,
       34.78008187, 29.81751707, 33.76186378, 27.15825392, 25.96611428,
       25.71313244, 24.07948663, 31.85153601, 29.57950541, 31.10242135,
       30.92159489, 32.19318562, 33.45818294, 25.70670124, 33.70004808,
       34.2306718 , 32.96120191, 28.0845045 , 27.40439511, 34.44498174,
       33.89655668, 33.47384195, 34.20162567, 26.688555  , 29.43385513,
       30.01661561, 24.83194137, 32.4347194 , 28.74705157, 28.31446854,
       27.95579574, 26.26589682, 28.87805776, 36.37369722, 32.2376663 ,
       36.18233828, 34.72803761, 35.40588619, 34.63561688, 34.7252758 ,
       30.1397141 , 31.33121755, 30.00357256, 32.55326958, 31.46076382,
       33.13140175, 32.70802205, 30.24853841, 31.4210374 , 27.60287314,
       27.44770209, 28.10663849, 27.51715598, 23.72922082, 24.72444304,
       26.08713783, 23.95027313, 28.87323276, 28.43286458, 29.95600261,
       28.44222954, 29.33111155, 28.59839643, 27.07950818, 27.01964956,
       34.94773272, 35.66559861, 35.91205168, 31.46110371, 31.66862491,
       34.28710437, 33.94319963, 34.30019074, 35.43384256, 35.57747512,
       35.47848797, 26.52407992, 28.73435681, 28.96917546, 28.13995181,
       31.19435126, 29.75704958, 27.01009405, 27.5494289 , 36.12613435,
       29.97373905, 28.92788024, 28.36374941])

In [111]:
import seaborn as sns